header {
    display: flex;
    justify-content: space-between;
    background-color: #7C5E99;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

nav {
    text-align: center;
}

a {
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Fira Code";
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    background-color: #62C370;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    background-color: #62C370;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px black;
    margin-right: 0;
    transition: transform 100ms linear;
}

#button:hover {
    transform: scale(1.05);
}
