.main-section {
    background: #62C370;
    border-bottom: 10px solid #7C5E99;
    padding-top: 50px;
    padding-bottom: 100px;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgBlack {
    background-color: #000;
}

.main-section.-bdFirst {
    border-color: #62C370;
}

.main-section.-bgSecond {
    background-color: #7C5E99;
    padding-bottom: 60px;
}

.main-section.-bdBlack {
    border-color: #000;
}