.skill-tec {
    font-family: 'Press Start 2P';
    font-size: 25px;
    color: #fff;
    display: flex;
}

.skill-tec .icon {
    margin-right: 25px;
}

.skill-tec .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}